html *, html ::after, html ::before {
    box-sizing: border-box;
}
 
/* Remove the scroll bar */
html, body {
    overflow-x: hidden; 
}
 
body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    color: #f5f5f7;
    background: #101010;
    font-style: normal;
    background-size: cover;
}

video {
    max-width: 100%;
    cursor: pointer;
}

.blockquote {
    font-size: 1.33rem;
}

.border-bottom {
    border-bottom: 3px solid black;
}

.footer {
    color: #6e6e73;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}